<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.template.dao.StudentMapper">
    <insert id="insertBatchStudent" parameterType="com.example.template.entity.Student">
        insert into student (id,st_name,age,grade,class_id) values
        <foreach item="student" collection="list" separator=",">
            (#{student.id},#{student.stName},#{student.age},#{student.grade},#{student.classId})
        </foreach>
    </insert>

    <insert id="insertStudent" parameterType="com.example.template.entity.Student">
        insert into student (id,st_name,age,grade,class_id) values
        (#{id},#{stName},#{age},#{grade},#{classId})
    </insert>

    <delete id="deleteStudentById" parameterType="com.example.template.entity.Student">
        delete from student t where t.id = #{id}
    </delete>

    <update id="updateStudentById" parameterType="com.example.template.entity.Student">
        UPDATE student t
        SET t.st_name =#{stName},t.age =#{age},t.class_id = #{classId},t.grade =#{grade}
        WHERE
            t.id =#{id}
    </update>

    <select id="queryStudentById" resultType="com.example.template.entity.Student">
        SELECT t.id,t.st_name as stName,t.age,t.grade,t.class_id as classId from student t where t.id = #{id}
    </select>
</mapper>